@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

body{
    background-color: white;
    font-family: 'Kelly Slab', cursive;
    color: black;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
  padding: 5px;
  margin-top: 10px;
  background-color: #3B221B;
  width: 100%;
}
img{
  display: block;
  margin: auto;
  width: 100%;
}
main{
  background-color: #D27225;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 26px;
}
h4{
  font-size: 26px;
}
.h4{
  font-size: 26px;
}
img.ornament {
  max-height: 30px; /* або будь-яке інше значення, яке тобі підходить */
  height: auto;
  width: auto;
  display: block;
  margin: 2rem auto;
}
.ornament-line {
  height: 35px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  background-image: url("../img/ornament.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  margin: 0;
  overflow: hidden;
  opacity: 0.7; /* прозорість */
}
.circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}